<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newliving">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="New Living"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewLiving"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PopupFriendsActivity"
            android:exported="false"
            android:theme="@style/Theme.CustomTheme" />
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Popups.PopupNewItemActivity"
            android:exported="false"
            android:theme="@style/Theme.CustomTheme" />
        <activity
            android:name=".Popups.PopupForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.CustomTheme" />
        <activity
            android:name=".Popups.PopupChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.CustomTheme" />
        <activity
            android:name=".Popups.PopupShareLinkActivity"
            android:exported="false"
            android:theme="@style/Theme.CustomTheme" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TippsActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>